<mat-toolbar color="primary">
    <img src="../assets/icons/logo-cidenet.png" alt="logo-cidenet">
    <span>Empleados Cidenet</span>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="openEmpForm()">
        <mat-icon>add_circle</mat-icon>
    </button>
</mat-toolbar>
<div class="main">
    <mat-form-field>
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>

    <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let row"> {{row.email}} </td>
            </ng-container>

            <!-- Primer Apellido Column -->
            <ng-container matColumnDef="primerApellido">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
                <td class="upCase" mat-cell *matCellDef="let row"> {{row.primerApellido}} </td>
            </ng-container>

            <!-- Primer Nombre Column -->
            <ng-container matColumnDef="primerNombre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                <td class="upCase" mat-cell *matCellDef="let row"> {{row.primerNombre}} </td>
            </ng-container>

            <!-- Otros Nombres Column -->
            <ng-container matColumnDef="otrosNombres">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Otros nombres </th>
                <td class="upCase" mat-cell *matCellDef="let row"> {{row.otrosNombres}} </td>
            </ng-container>

            <!-- Acciones Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button color="primary" (click)="openEditForm(row)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteEmployee(row.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
</div>