.example-spacer {
    flex: 1 1 auto;
}

.main {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

mat-toolbar img {
    margin-right: 30px;
}

.upCase:first-letter {
    text-transform: capitalize;
}