<div mat-dialog-title>
    <h1>Formulario empleado</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="column">
        <mat-form-field appearance="fill">
            <mat-label>Primer apellido</mat-label>
            <input matInput type="text" formControlName="primerApellido" pattern="[A-Za-z]{1,20}" maxlength="20" required>
            <mat-error>Por favor, solo ingrese caractéres de la (A-Z), sin la letra Ñ y una longitud máxima de 20 caractéres</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Primer nombre</mat-label>
            <input matInput type="text" formControlName="primerNombre" pattern="[A-Za-z]{1,20}" maxlength="20" required>
            <mat-error>Por favor, solo ingrese caractéres de la (A-Z), sin la letra Ñ y una longitud máxima de 20 caractéres</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Otros nombres</mat-label>
            <input matInput type="text" formControlName="otrosNombres" pattern="[A-Za-z]{1,20}" maxlength="50">
            <mat-error>Por favor, solo ingrese caractéres de la (A-Z), sin la letra Ñ</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>País contrato</mat-label>
            <mat-select formControlName="pais">
                <mat-option *ngFor="let pais of paises" [value]="pais">{{pais}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancelar</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Actualizar' : 'Guardar'}}</button>
    </div>
</form>